body{
  background: #011627;
  color:#ffffff;
  text-align: center;
  border:100px solid #2e45f8;
  border-top: 0px;
  margin:0px 0px 0px 0px;
}
h1{
  color:#ff911c;
}
h2{
  color:#2e45f8;
}
p{
padding-left: 20%;
padding-right: 20%;
}
form{
  font-size: 20px;
}
#Sub{
  margin-bottom: 20px;
  margin-top: 30px;
  height:30px;
  width:170px;
  background: orange;
  border-radius: 20px;
}
input{
  border-radius: 20px;
}
input{required;}
